
@{
    ViewData["Title"] = "TP LOCAL";
    ViewData["h1"] = "Welcome to TP HN";
    ViewData["Link1"] = "/Home/Index/Form";
    ViewData["Link2"] = "/Home/Index/List";
    ViewData["linkTitle1"] = "Form";
    ViewData["linkTitle2"] = "Avis List";
}
<section>
    <p>
        <a href="/Home/Index/Form">Fill out form </a>
    </p>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


