@model TPLOCAL1.Models.PersonalInformation
<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="\resources\FichierCSS\Index.css" />
    <title>HN - FORM</title>
</head>
<body>
    <header>
        <img src="/resources/GroupeHN.png" class="image" alt="GroupHN" />
        <h1>Form TP HN opinion</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Welcome Page</a></li>
            <li><a href="/Home/AvisList">Avis List</a></li>
        </ul>
    </nav>
    <p style="text-align: center" > Your form has been taken into account</p>
    <section class="form">
        <form asp-action="ValidationFormulaire">
            <table>
                <caption>Personal Information</caption>
                <tr>
                    <th>Name</th>
                    <td>
                        <label asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Forename</th>
                    <td>
                        <label asp-for="Forename" class="form-control" />
                        <span asp-validation-for="Forename" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        <label asp-for="Gender" asp-items="Model.Genders"></label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <label asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Zip Code</th>
                    <td>
                        <label asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Town</th>
                    <td>
                        <label asp-for="Town" class="form-control" />
                        <span asp-validation-for="Town" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>
                        <label asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </td>
                </tr>
            </table>
            <table>
                <caption>Following Formation's Information</caption>
                <tr>
                    <th>Formation Debut Date</th>
                    <td>
                        <label asp-for="StartDateTraining" class="form-control" />
                        <span asp-validation-for="StartDateTraining" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Following Formation</th>
                    <td>
                        <label asp-for="TypeTraining" class="form-control" />
                        <span asp-validation-for="TypeTraining" class="text-danger"></span>
                    </td>
                </tr>
            </table>
            <table>
                <caption>Opinion on Formations</caption>
                <tr>
                    <th>Formation COBOL</th>
                    <td>
                        <label asp-for="CobolTraining" class="form-control" />
                        <span asp-validation-for="CobolTraining" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Formation C#</th>
                    <td>
                        <label asp-for="TrainingPurpose" class="form-control" />
                        <span asp-validation-for="TrainingPurpose" class="text-danger"></span>
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <input type="submit" value="Validate" class="btn btn-primary" />
            </div>

        </form>
    </section>
</body>
</html>
